

.docPage {
  display: flex;
}

.docSidebarContainer {
  position: sticky;
  top: var(--ifm-navbar-height);
  height: calc(100vh - var(--ifm-navbar-height));
  overflow-y: auto;
}

.docSidebarContainer > div:first-child {
  padding-top: 0;
}

.docMainContainer {
  flex: 1;
  min-width: 0;
}

.docContentWrapper {
  padding-top: 0;
}

.docItemCol {
  max-width: 100%;
}

.breadcrumbsContainer {
  margin-bottom: 1.5rem;
}

.breadcrumbHomeIcon {
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: middle;
}

