<nav role="navigation" aria-label="Main navigation">
  <ul class="navigation-list">
    <strong>Device Types</strong>
    {% for type in site.device-types | sort: "title" %}
      <li>
        <a href="{{ type.url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ type.title }}</a>
      </li>
    {% endfor %}

    <br>
    <strong>Electrical Standards</strong>
    {% for standard in site.device-standards | sort: "title" %}
      <li>
        <a href="{{ standard.url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ standard.title }}</a>
      </li>
    {% endfor %}
    
    <br>
    <strong>External Links</strong>
    {% for link in site.data.external_links %}
      <li>
        <a href="{{ link.url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ link.name }}</a>
      </li>
    {% endfor %}
  
  </ul>
</nav>